@import url('https://fonts.googleapis.com/css2?family=Anta&family=Inconsolata:wght@200..900&family=Kode+Mono:wght@400..700&display=swap')

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #210C31;
    --cor-secundaria: white;
    --cor-terciaria: purple;
    --cor-quaternaria: #937FCB;
    --cor-quinquenaria: black;

    --fonte-primaria: "Kode Mono", monospace;
    --fonte-secundaria: "Inconsolata", monospace;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.cabecalho__menu__link {
    font-size: 1.125rem;
    color: var(--cor-terciaria);
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

.cabecalho__menu__link:hover {
    color: var(--cor-quaternaria);
}

.titulo-destaque {
    color: var(--cor-quaternaria);
    font-family: var(--fonte-primaria);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.titulo-destaque:hover {
    color: var(--cor-terciaria);
    text-decoration: overline;
}

.apresentacao {
    padding: 2% 12% 5% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 800;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 4px outset var(--cor-quaternaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-quaternaria);
    color: var(--cor-primaria);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    text-align: center;
    padding: 14px;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-quaternaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}
